{{- $name := promptStringOnce . "name" "Git author name" -}}
{{- $email := promptStringOnce . "email" "Git author email" -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  work = {{ $work }}
