[submodule "ohmyzsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "tmux-themepack"]
	path = .tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
	branch = master
[submodule "custom/themes/spaceship-prompt"]
	path = custom/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
	branch = master
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule ".vim/pack/base/opt/onedark.vim"]
	path = .vim/pack/base/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule ".vim/pack/base/start/vim-hcl"]
	path = .vim/pack/base/start/vim-hcl
	url = https://github.com/droustchev/vim-hcl.git
	branch = add-support-for-syntax-based-folding
