export TERM=xterm-256color
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$HOME/.oh-my-zsh/custom"

ZSH_THEME="spaceship"
SPACESHIP_DIR_COLOR="green"
SPACESHIP_CHAR_COLOR_SUCCESS="cyan"

SPACESHIP_PROMPT_ORDER=(
  user           # Username section
  dir            # Current directory section
  git            # Git section (git_branch + git_status)
  node           # Node.js section
  bun            # Bun section
  python         # Python section
  elm            # Elm section
  golang         # Go section
  perl           # Perl section
  rust           # Rust section
  kotlin         # Kotlin section
  java           # Java section
  docker_compose # Docker section
  kubectl        # Kubectl context section
  ansible        # Ansible section
  terraform      # Terraform workspace section
  gnu_screen     # GNU Screen section
  exec_time      # Execution time
  async          # Async jobs indicator
  line_sep       # Line break
  battery        # Battery level and status
  jobs           # Background jobs indicator
  exit_code      # Exit code section
  sudo           # Sudo indicator
  char           # Prompt character
)

plugins=(git zsh-autosuggestions zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# Workaround for zpty dropping results from fast async jobs over SSH
# https://github.com/spaceship-prompt/spaceship-prompt/issues/1193#issuecomment-1722579999
if [[ -n "$SSH_CONNECTION" ]]; then
  functions[_async_job]="${functions[_async_job]//setopt localoptions noxtrace/setopt localoptions noxtrace$'\n'  sleep 0.05}"
fi

# User configuration

export EDITOR='vim'
export CLICOLOR=1
export PATH=$HOME/.local/bin:$PATH

# Go Setup
export PATH=$PATH:/usr/local/go/bin
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin
export GO111MODULE=on

# Command Aliases
if type "kubecolor" > /dev/null; then
  alias kubectl="kubecolor"
fi
alias k="kubectl"
alias kns="kubectl config set-context"
if ! command -v COMMAND &> /dev/null; then
  complete -F __start_kubectl k
fi


# PyEnv Setup
export PYENV_VIRTUALENV_DISABLE_PROMPT=1

compctl -K _pyenv pyenv

_pyenv() {
  local words completions
  read -cA words

  if [ "${#words}" -eq 2 ]; then
    completions="$(pyenv commands)"
  else
    completions="$(pyenv completions ${words[2,-2]})"
  fi

  reply=(${(ps:\n:)completions})
}

if which pyenv-virtualenv-init > /dev/null 2>&1; then
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)";
fi


# NVM Stuff
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

{{ if .work -}}
# Work: autocomplete
autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C `which consul` consul

# Work: krew
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

# Work: nested cloning for Indeed projects
ic() {
  prefix="git@code.corp.indeed.com:"
  suffix=".git"
  without_prefix=${1/#$prefix}
  project=${without_prefix/%$suffix}
  cdir="$HOME/indeed/${project}"
  cglu="git@code.corp.indeed.com:${project}.git"
  printf "\033[37;1m  New Indeed Project\033[0m\n\033[31;1m From:\033[0m ${cglu} \n\033[36;1m To:\033[0m ${cdir}\n"
  mkdir -p "${cdir}"
  git clone "${cglu}" "${cdir}"
  printf "\033[32;1mProject Cloned!\033[0m Happy development.\n"
}

# Work: quickshare
qs() {
  url="https://quickshare.sandbox.indeed.net"
  local ttl="${1:-1h}"
  local data="${2}"
  if [ -z "$data" ]; then
    if [ -t 0 ]; then
      echo "Enter data (press Ctrl+D when finished):"
    fi
    data=$(cat)
  fi
  local response=$(curl -s -X POST \
    -H "Content-Type: application/x-www-form-urlencoded" \
    --data-urlencode "data=$data" \
    --data-urlencode "ttl=$ttl" \
    "${url}/w")
  local token=$(echo $response | grep -m1 shareUrl | cut -d "\"" -f 4)
  printf "\033[36;1m Created Quickshare:\033[0m ${url}/u/${token}\n"
}
{{ end -}}
